*{
  box-sizing: border-box;

}

body{
  background-color: #ffffff;
  font-family: Verdana, Arial, sansserif;
}

#wrapper {
  margin: 0 auto;
  width: 80%;
  min-width: 940px;
  background-color: #ffffff;
  color: #000000;
}

header {

  color: #000000;
  font-size: 150%;

}

nav {
  display: none;
}

main {
  font-family: "Times New Roman", serif;
  font-size: 12pt;
}

footer {
  font-size: 70%;
  text-align: center;
  padding: 10px;
  background-color: #ffffff;
  clear: both;
}

h2 {
  color: #869DC7;
  font-family: Arial, sans-serif;

}

#floatright {
  float: right;
  margin: 10px;
}


nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a{
  text-decoration: none;
  padding: 20px;
  display: block;
  background-color: #B3C7E6;
  border-bottom: 1px solid #FFFFFF;
}

nav a:link {color:#FFFFFF;}

nav a:visited {color: #EAEAEA;}

nav a:hover {color: #869DC7; background-color: #EAEAEA;}
