.root{
	-fx-background-color: yellow;
	-fx-font-size: 14pt;
}

.button{
	-fx-background-color: #007fff;
	-fx-text-fill: white;
}

.button{
	-fx-background-color: tomato;
	-fx-border-radius: 20;
	-fx-background-radius: 20;
	-fx-padding: 5;
		
}